@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("antd/dist/antd.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif !important;
}

// Basic Layout Of Project Css Start From Here
#components-layout-demo-custom-trigger .trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}


.btn_Login {
  background: #2553a5 !important;
  color: #fff !important;
}

.navbar_bg_color {
  background: #2553a5 !important;
}

.navbar-brand,
.nav-link {
  color: #fff;

  &:hover {
    color: #fff !important;
  }
}

.logout_btn {
  background: red !important;
  border: none !important;
  outline: none;
}

.main_body {
  margin: 10px 20px;
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

// Basic Layout Of Project Css Ends From Here
//===================================================================================================================
// Navbar Of Project Css Starts From Here
.trigger {
  background: #2553a5 !important;
  padding: 15px !important;
  border-radius: 50% !important;
  color: #fff !important;
}